<app-header></app-header>

<!-- Content -->
 <div id="content">
    <section class="padding-top-30 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="order-ecommerce-right bg-white">
                        <div class="order-right-button">
                            <button class="mt-0 btn-green btn-block order-right-margin1" routerLink="/ecommerce-order/favourite">Ecommerce </button>
                            <button class="mt-0 btn-gray btn-block" routerLink="/ecommerce-order/grocery-fav">Grocery</button>
                            <button class="mt-0 btn-gray btn-block order-right-margin1" routerLink="/ecommerce-order/food-fav">Food</button>
                            <button class="mt-0 btn-gray btn-block order-right-margin1" routerLink="/ecommerce-order/pharmacy-fav">Pharmacy</button>
                        </div>
                        <div class="order-ecommerce-details">
                            <div class="order-ecommerce-details-middle">
                                <div class="o-detail-main fav-ord">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="margin-top-10">
                                                    <div class="o-detail-img">
                                                        <img src="assets/images/food.jpeg" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-10 margin-top-10"> 
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="o-detail-details">
                                                            <h6>
                                                            Vivo U10 (Electric Blue, 5000 mAH 18W Fast Charge Battery, 3GB RAM, 32GB Storage)
                                                            </h6>
                                                            <div class="o-detail-total-man">
                                                                <ul>
                                                                    <li class="fw-600">
                                                                        <div class="product-star margin-top-5">
                                                                            <i class="fa fa-star"></i> 4.5 
                                                                        </div>
                                                                    </li>
                                                                    <li><a class="pointer"> <img src="assets/images/icon/gray_carticon.png" class="img-responsive"> Move to Cart</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="o-detail-total-man">
                                                                <ul>
                                                                    <li class="fw-600">  Rs.33,939 &nbsp; <span class="margin-right-5">Rs. 43295</span> &nbsp; <small class="yellow">21% OFF</small></li>
                                                                    <li><a class="pointer"> <img src="assets/images/icon/gray_deleteicon.png" class="img-responsive"> Remove</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="o-detail-main fav-ord">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="margin-top-10">
                                                <div class="o-detail-img">
                                                    <img src="assets/images/food.jpeg" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 margin-top-10"> 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="o-detail-details">
                                                        <h6>
                                                        Vivo U10 (Electric Blue, 5000 mAH 18W Fast Charge Battery, 3GB RAM, 32GB Storage)
                                                        </h6>
                                                        <div class="o-detail-total-man">
                                                            <ul>
                                                                <li class="fw-600">
                                                                    <div class="product-star margin-top-5">
                                                                        <i class="fa fa-star"></i> 4.5 
                                                                    </div>
                                                                </li>
                                                                <li><a class="pointer"> <img src="assets/images/icon/gray_carticon.png" class="img-responsive"> Move to Cart</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="o-detail-total-man">
                                                            <ul>
                                                                <li class="fw-600">  Rs.33,939 &nbsp; <span class="margin-right-5">Rs. 43295</span> &nbsp; <small class="yellow">21% OFF</small></li>
                                                                <li><a class="pointer"> <img src="assets/images/icon/gray_deleteicon.png" class="img-responsive"> Remove</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="o-detail-main fav-ord">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="margin-top-10">
                                                <div class="o-detail-img">
                                                    <img src="assets/images/food.jpeg" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 margin-top-10"> 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="o-detail-details">
                                                        <h6>
                                                        Vivo U10 (Electric Blue, 5000 mAH 18W Fast Charge Battery, 3GB RAM, 32GB Storage)
                                                        </h6>
                                                        <div class="o-detail-total-man">
                                                            <ul>
                                                                <li class="fw-600">
                                                                    <div class="product-star margin-top-5">
                                                                        <i class="fa fa-star"></i> 4.5 
                                                                    </div>
                                                                </li>
                                                                <li><a class="pointer"> <img src="assets/images/icon/gray_carticon.png" class="img-responsive"> Move to Cart</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="o-detail-total-man">
                                                            <ul>
                                                                <li class="fw-600">  Rs.33,939 &nbsp; <span class="margin-right-5">Rs. 43295</span> &nbsp; <small class="yellow">21% OFF</small></li>
                                                                <li><a class="pointer"> <img src="assets/images/icon/gray_deleteicon.png" class="img-responsive"> Remove</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section> 
 </div>
<app-footer></app-footer>    