

<!---------------------------------------Footer Start-------------------------------------------------->

<footer>
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-12">
                <div class="payment-list">
                    <ul>
                        <li><a href="javascript:void(0);"><img src="assets/images/payment/paypal.png"/></a></li>
                        <li><a href="javascript:void(0);"><img src="assets/images/payment/visa.png"/></a></li>
                        <li><a href="javascript:void(0);"><img src="assets/images/payment/master_logo.png"/></a></li>
                        <li><a href="javascript:void(0);"><img src="assets/images/payment/western_union.png"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
      <div class="row">
        <!-- Contact -->
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="bottom-address">
              <img src="assets/images/logo.png"/>
            <p><span><img src="assets/images/icon/footer_location.png"/></span>O-2, first floor, Near lal sai market
                Lazpat nagar block O, New Delhi</p>
              <p><span><img src="assets/images/icon/footer_mobile.png"/></span>8929077353, 01141006535</p>
              <p><span><img src="assets/images/icon/footer_email.png"/></span>info@pydeya.com</p>
          </div>
        </div>
        
        <!-- Categories -->
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="new-foot-link">
                <h6>Information</h6>
                <ul class="links-footer">
                  <li><a href="javascript:void(0);">About Us</a></li>
                  <li><a href="javascript:void(0);">Price Promise</a></li>
                  <li><a href="javascript:void(0);">Stock Avialability</a></li>
                  <li><a href="javascript:void(0);">Terms of use</a></li>
                  <li><a href="javascript:void(0);">Return And Refund Policy</a></li>
                  <li><a href="javascript:void(0);">privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <!-- Categories -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="new-foot-link">
                <div class="middle-link">
                    <h6>Customer Service</h6>
                    <ul class="links-footer">
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                    <li><a href="javascript:void(0);">Returns</a></li>
                    <li><a href="javascript:void(0);">Site Map</a></li>
                    <li><a href="javascript:void(0);">Tall A Friend</a></li>
                    <li><a href="javascript:void(0);">Brands</a></li>
                    <li><a href="javascript:void(0);">Gift Vouchers</a></li>
                    <li><a href="javascript:void(0);">Affiliates</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Categories -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="new-foot-link right-footer">
            <h6>My Account</h6>
            <ul class="links-footer">
              <li><a href="javascript:void(0);">My Account</a></li>
              <li><a href="javascript:void(0);">Order History</a></li>
              <li><a href="javascript:void(0);">Wish List</a></li>
              <li><a href="javascript:void(0);">Newsletter</a></li>
              <li><a href="javascript:void(0);">Track Order</a></li>
              <li><a href="javascript:void(0);">Specials</a></li>
              <li><a href="javascript:void(0);">Affiliates</a></li>
            </ul>
        </div>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6  col-xs-12">
            <div class="strip">
                <h6>Download <br>the Pydeya app today</h6>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="strip right-devide">
                <button class="btn-app"><img src="assets/images/payment/apple.png"/></button>
                <button class="btn-app"><img src="assets/images/payment/android.png"/></button>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="strip pd-l-35">
                <h6>Connect <br>with us</h6>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="strip text-right">
                <ul>
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-youtube-play"></i></a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Rights -->
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center top-line">
          <p class="color-white"><a routerLink="/home" class="ri-li"> PyDe Ya </a>© Copyright 2020</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End Footer --> 
  
  <!-- GO TO TOP  --> 
  <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a> 

<!---------------------------------------Footer End-------------------------------------------------->

