<div class="order-ecommerce-left-product1 bg-white">
    <div class="p-grid-list-left">
         <div class="pgl-title border-bottom">
             <h6>Filters</h6>
         </div>
         <div class="pgl-category">
            <main class="cd-main-content">
                <div class="cd-filter"> 
                    <form>
                        <div class="pgl-category-top border-bottom">
                            <h6>Category</h6>
                            <div class="pgl-category-name">
                                <ul>
                                     <li><a><i class="fa fa-angle-right margin-right-5"></i> Camera & Accessories</a></li>
                                     <li><a> <i class="fa fa-angle-right margin-right-5"></i>Cameras</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pgl-category-top border-bottom">
                            <h5>Price</h5>
                            <div class="pgl-range-slider">
                                <input type="text" id="example" name="example_name" value="" />
                            </div>
                            <div class="d-flex">
                                <div class="min-max margin-right-10">
                                        <select class="form-control">
                                            <option>Min</option>
                                            <option>Min</option>
                                            <option>Min</option>
                                        </select>
                                </div> 
                                <div class="min-max">
                                    <select class="form-control">
                                        <option>Rs 52092</option>
                                        <option>Rs 52092</option>
                                        <option>Rs 52092</option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div class="cd-filter-block border-bottom"> 
                            <h6>Brand</h6>
                            <ul class="cd-filter-content cd-filters list">
                                <li>
                                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                                    <label class="checkbox-label" for="checkbox1">iPhone</label>
                                </li>
        
                                <li>
                                    <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                                    <label class="checkbox-label" for="checkbox2">iPad</label>
                                </li>
        
                                <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">Apple TV</label>
                                </li>
                                            <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">Macbook</label>
                                </li>
                                            <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">Macbook Air</label>
                                </li>
                                            <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">Macbook Pro</label>
                                </li>
                                            <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">Apple Accessories</label>
                                </li>
                            </ul> <!-- cd-filter-content -->
                        </div>
                        <div class="cd-filter-block border-bottom"> 
                            <h6>Customer Ratings</h6>
                            <ul class="cd-filter-content cd-filters list">
                                <li>
                                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                                    <label class="checkbox-label" for="checkbox1">4 <i class="fa fa-star"></i>& above</label>
                                </li>
        
                                <li>
                                    <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                                    <label class="checkbox-label" for="checkbox2">3 <i class="fa fa-star"></i>& above</label>
                                </li>
                                <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">2 <i class="fa fa-star"></i>& above</label>
                                </li>
                                <li>
                                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                    <label class="checkbox-label" for="checkbox3">1 <i class="fa fa-star"></i> & above</label>
                                </li>
                            </ul> <!-- cd-filter-content -->
                        </div>
                        <div class="cd-filter-block border-bottom"> 
                            <h6>Color</h6>
                            <ul class="cd-filter-content cd-filters list">
                                    <li>
                                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                                        <label class="checkbox-label" for="checkbox1">Green</label>
                                    </li>
            
                                    <li>
                                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                                        <label class="checkbox-label" for="checkbox2">Red</label>
                                    </li>
            
                                    <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Blue</label>
                                    </li>
                                                <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Yellow</label>
                                    </li>
                                                <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Pinl</label>
                                    </li>
                                                <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">Black</label>
                                    </li>
                                                <li>
                                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                                        <label class="checkbox-label" for="checkbox3">White</label>
                                    </li>
                                </ul> <!-- cd-filter-content -->
                        </div>
                    </form>
                </div> <!-- cd-filter -->
            </main> <!-- cd-main-content -->
         </div>
    </div>
</div>