<app-header></app-header>
<section class="slid-sec">
    <div class="container">
         <div class="row">
            <div class="col-lg-12"> 
                <!-- Main Slider Start -->
                  <div class="tp-banner-container">
                    <div class="tp-banner1">
                      <img src="assets/images/unnamed.jpg" class="img-responsive" alt="slider"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    </div>
                  </div> 
              </div>
             <!-- Main Slider  -->
         </div>
    </div>
</section>
<!-- Content -->

<div id="content" class="padding-bottom-30"> 
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="order-ecommerce-left-product1 bg-white">
          <div class="p-grid-list-left">
               <div class="pgl-title border-bottom">
                   <h6 class="fw-600">Explore</h6>
               </div>
               <div class="pgl-category">
                  <main class="cd-main-content">
                      <div class="cd-filter"> 
                          <form>
                            <div class="groc-category-name">
                                <ul>
                                    <li><a> Popular in your Area<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>New in Area <i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a> Top Ratings<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Offers<i class="fa fa-angle-right float-right"></i></a></li>
                                </ul>
                            </div> 
                          </form>
                      </div> <!-- cd-filter -->
                  </main> <!-- cd-main-content -->
               </div>
          </div>
      </div>
      </div>
      <div class="col-md-9">
        <section class="bg-white padding-top-20 padding-bottom-30 top-brand relative">
            <div class="col-md-12">
                <div class="flex-head">
                  <div class="groc-heading">
                       <h6>Trending Products</h6> 
                  </div>
                  <a href="javascript:void(0);">View All</a>
                </div>
                <owl-carousel-o [options]="topBrands">
               
                  <ng-template carouselSlide>
                    <div class="groc-product"> 
                      <a href="javascript:void(0);">
                        <div class="groc-brands"> 
                          <div class="brand-img text-center">
                              <img class="img-responsive" src="assets/images/fos1.jpg"> 
                              <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                          </div>
                          <div class="grac-logo">
                              <div class="groc-logo-title">
                                  <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                              </div>  
                              <div class="groc-off">
                                  <ul>
                                      <li>
                                        <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </li>
                                      <li>
                                          <h6>30%</h6>
                                      </li>
                                  </ul>
                              </div>  
                              <div class="groc-button text-center margin-bottom-10">
                                  <a class="">Add Item</a>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="groc-product">
                      <a href="javascript:void(0);">
                        <div class="groc-brands"> 
                          <div class="brand-img text-center">
                              <img class="img-responsive" src="assets/images/fos1.jpg"> 
                              <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                          </div>
                          <div class="grac-logo">
                              <div class="groc-logo-title">
                                  <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                              </div>  
                              <div class="groc-off">
                                  <ul>
                                      <li>
                                        <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </li>
                                      <li>
                                          <h6>30%</h6>
                                      </li>
                                  </ul>
                              </div>  
                              <div class="groc-button text-center margin-bottom-10">
                                  <a class="">Add Item</a>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="groc-product">
                      <a href="javascript:void(0);">
                        <div class="groc-brands"> 
                          <div class="brand-img text-center">
                              <img class="img-responsive" src="assets/images/fos1.jpg"> 
                              <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                          </div>
                          <div class="grac-logo">
                              <div class="groc-logo-title">
                                  <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                              </div>  
                              <div class="groc-off">
                                  <ul>
                                      <li>
                                        <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </li>
                                      <li>
                                          <h6>30%</h6>
                                      </li>
                                  </ul>
                              </div>  
                              <div class="groc-button text-center margin-bottom-10">
                                  <a class="">Add Item</a>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="groc-product">
                      <a href="javascript:void(0);">
                        <div class="groc-brands"> 
                          <div class="brand-img text-center">
                              <img class="img-responsive" src="assets/images/fos1.jpg"> 
                              <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                          </div>
                          <div class="grac-logo">
                              <div class="groc-logo-title">
                                  <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                              </div>  
                              <div class="groc-off">
                                  <ul>
                                      <li>
                                        <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </li>
                                      <li>
                                          <h6>30%</h6>
                                      </li>
                                  </ul>
                              </div>  
                              <div class="groc-button text-center margin-bottom-10">
                                  <a class="">Add Item</a>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="groc-product">
                      <a href="javascript:void(0);">
                        <div class="groc-brands"> 
                          <div class="brand-img text-center">
                              <img class="img-responsive" src="assets/images/fos1.jpg"> 
                              <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                          </div>
                          <div class="grac-logo">
                              <div class="groc-logo-title">
                                  <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                              </div>  
                              <div class="groc-off">
                                  <ul>
                                      <li>
                                        <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </li>
                                      <li>
                                          <h6>30%</h6>
                                      </li>
                                  </ul>
                              </div>  
                              <div class="groc-button text-center margin-bottom-10">
                                  <a class="">Add Item</a>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </ng-template>
              
                </owl-carousel-o> 
            </div>
            <div class="col-md-12 margin-bottom-10 margin-top-10">
                 <div class="row">
                      <div class="col-md-6">
                        <div class="groc-cat-images">
                          <div class="groc-cat-img-in">
                                <img src="assets/images/groc-cat2.jpg" class="img-responsive">
                          </div>
                          <div class="groc-caption">
                               <h6>Straberries</h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                           <div class="row">
                                 <div class="col-md-6">
                                      <div class="groc-cat-images">
                                            <div class="groc-cat-img-in">
                                                  <img src="assets/images/groc-cat1.jpg" class="img-responsive">
                                            </div>
                                            <div class="groc-caption">
                                                 <h6>Straberries</h6>
                                            </div>
                                      </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="groc-cat-images">
                                        <div class="groc-cat-img-in">
                                              <img src="assets/images/groc-cat1.jpg" class="img-responsive">
                                        </div>
                                        <div class="groc-caption">
                                            <h6>Straberries</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="groc-cat-images">
                                    <div class="groc-cat-img-in">
                                          <img src="assets/images/groc-cat1.jpg" class="img-responsive">
                                    </div>
                                    <div class="groc-caption">
                                        <h6>Straberries</h6>
                                    </div>
                                   </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="groc-cat-images">
                                    <div class="groc-cat-img-in">
                                          <img src="assets/images/groc-cat1.jpg" class="img-responsive">
                                    </div>
                                    <div class="groc-caption">
                                        <h6>Straberries</h6>
                                    </div>
                                </div>
                                </div>
                           </div>
                      </div>
                 </div>
            </div>
            <div class="col-md-12">
              <div class="flex-head">
                <div class="groc-heading">
                     <h6>Top Savers Today</h6> 
                </div>
                <a href="javascript:void(0);">View All</a>
              </div>
              <owl-carousel-o [options]="todaysave">
             
                <ng-template carouselSlide>
                  <div class="groc-product"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="groc-product">
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="groc-product">
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="groc-product">
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="groc-product">
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-template>
            
              </owl-carousel-o> 
          </div>

          <div class="col-md-12">
            <div class="flex-head">
              <div class="groc-heading">
                   <h6>Today Picks</h6> 
              </div>
              <a href="javascript:void(0);">View All</a>
            </div> 
            <owl-carousel-o [options]="todaydeal">
           
              <ng-template carouselSlide>
                <div class="groc-product"> 
                  <a href="javascript:void(0);">
                    <div class="groc-brands"> 
                      <div class="brand-img text-center">
                          <img class="img-responsive" src="assets/images/fos1.jpg"> 
                          <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                      </div>
                      <div class="grac-logo">
                          <div class="groc-logo-title">
                              <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                          </div>  
                          <div class="groc-off">
                              <ul>
                                  <li>
                                    <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                  </li>
                                  <li>
                                      <h6>30%</h6>
                                  </li>
                              </ul>
                          </div>  
                          <div class="groc-button text-center margin-bottom-10">
                              <a class="">Add Item</a>
                          </div>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="groc-product">
                  <a href="javascript:void(0);">
                    <div class="groc-brands"> 
                      <div class="brand-img text-center">
                          <img class="img-responsive" src="assets/images/fos1.jpg"> 
                          <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                      </div>
                      <div class="grac-logo">
                          <div class="groc-logo-title">
                              <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                          </div>  
                          <div class="groc-off">
                              <ul>
                                  <li>
                                    <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                  </li>
                                  <li>
                                      <h6>30%</h6>
                                  </li>
                              </ul>
                          </div>  
                          <div class="groc-button text-center margin-bottom-10">
                              <a class="">Add Item</a>
                          </div>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="groc-product">
                  <a href="javascript:void(0);">
                    <div class="groc-brands"> 
                      <div class="brand-img text-center">
                          <img class="img-responsive" src="assets/images/fos1.jpg"> 
                          <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                      </div>
                      <div class="grac-logo">
                          <div class="groc-logo-title">
                              <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                          </div>  
                          <div class="groc-off">
                              <ul>
                                  <li>
                                    <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                  </li>
                                  <li>
                                      <h6>30%</h6>
                                  </li>
                              </ul>
                          </div>  
                          <div class="groc-button text-center margin-bottom-10">
                              <a class="">Add Item</a>
                          </div>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="groc-product">
                  <a href="javascript:void(0);">
                    <div class="groc-brands"> 
                      <div class="brand-img text-center">
                          <img class="img-responsive" src="assets/images/fos1.jpg"> 
                          <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                      </div>
                      <div class="grac-logo">
                          <div class="groc-logo-title">
                              <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                          </div>  
                          <div class="groc-off">
                              <ul>
                                  <li>
                                    <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                  </li>
                                  <li>
                                      <h6>30%</h6>
                                  </li>
                              </ul>
                          </div>  
                          <div class="groc-button text-center margin-bottom-10">
                              <a class="">Add Item</a>
                          </div>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="groc-product">
                  <a href="javascript:void(0);">
                    <div class="groc-brands"> 
                      <div class="brand-img text-center">
                          <img class="img-responsive" src="assets/images/fos1.jpg"> 
                          <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                      </div>
                      <div class="grac-logo">
                          <div class="groc-logo-title">
                              <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                          </div>  
                          <div class="groc-off">
                              <ul>
                                  <li>
                                    <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                  </li>
                                  <li>
                                      <h6>30%</h6>
                                  </li>
                              </ul>
                          </div>  
                          <div class="groc-button text-center margin-bottom-10">
                              <a class="">Add Item</a>
                          </div>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-template>
          
            </owl-carousel-o> 
        </div>
        </section> 
        
        <section class=""> 
            
        </section>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>   