<app-header></app-header>

<!-- Content -->
 <div id="content">
    <section class="padding-top-30 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <app-order-profile-left></app-order-profile-left>
                </div> 
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                    <div class="order-ecommerce-right bg-white"> 
                         <div class="order-my-address">
                             <div class="my-address-title">
                                <ul>
                                    <li>
                                        <h5>My Address</h5>
                                    </li>
                                    <li>
                                        <button class="mt-0 order-help bg-theme" data-target="#add-address" data-toggle="modal">Add Address</button>
                                    </li>
                                </ul>
                             </div>
                             <div class="row">
                                 <div class="col-md-6">
                                     <div class="my-address-all">
                                        <div class="delivery-address-crt"> 
                                            <ul>
                                                <li>
                                                    <div class="addirsst-crt-all">
                                                        <div class="form-radio">
                                                            <div class="radio">
                                                                <input id="radio14" name="radio" type="radio" checked>
                                                                <label for="radio-14" class="radio-label">
                                                                    <h6>JONH MATHEW <span class="margin-left-5 pga">Home</span></h6>
                                                                    <h5>987654321</h5>
                                                                    <p>Building #123456, Cape ST. Weroda 03, Bole Sub- City Addis Ababa, Egypt</p>
                                                                </label>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </li>
                                                <li> 
                                                    <a> 
                                                        <img src="assets/images/icon/address_editicon.png" class="margin-right-7 pointer img-responsive">
                                                        <img src="assets/images/icon/affress_deleteicon.png" class="img-responsive pointer">
                                                    </a>
                                                </li>
                                            </ul>
                                           </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="my-address-all">
                                       <div class="delivery-address-crt"> 
                                           <ul>
                                               <li>
                                                   <div class="addirsst-crt-all">
                                                       <div class="form-radio">
                                                           <div class="radio">
                                                               <input id="radio14" name="radio" type="radio" checked>
                                                               <label for="radio-14" class="radio-label">
                                                                   <h6>JONH MATHEW <span class="margin-left-5 pga">Home</span></h6>
                                                                   <h5>987654321</h5>
                                                                   <p>Building #123456, Cape ST. Weroda 03, Bole Sub- City Addis Ababa, Egypt</p>
                                                               </label>
                                                           </div>
                                                       </div> 
                                                   </div>
                                               </li>
                                               <li> 
                                                   <a> 
                                                       <img src="assets/images/icon/address_editicon.png" class="margin-right-7 pointer img-responsive">
                                                       <img src="assets/images/icon/affress_deleteicon.png" class="img-responsive pointer">
                                                   </a>
                                               </li>
                                           </ul>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="my-address-all">
                                       <div class="delivery-address-crt"> 
                                           <ul>
                                               <li>
                                                   <div class="addirsst-crt-all">
                                                       <div class="form-radio">
                                                           <div class="radio">
                                                               <input id="radio14" name="radio" type="radio" checked>
                                                               <label for="radio-14" class="radio-label">
                                                                   <h6>JONH MATHEW <span class="margin-left-5 pga">Home</span></h6>
                                                                   <h5>987654321</h5>
                                                                   <p>Building #123456, Cape ST. Weroda 03, Bole Sub- City Addis Ababa, Egypt</p>
                                                               </label>
                                                           </div>
                                                       </div> 
                                                   </div>
                                               </li>
                                               <li> 
                                                   <a> 
                                                       <img src="assets/images/icon/address_editicon.png" class="margin-right-7 pointer img-responsive">
                                                       <img src="assets/images/icon/affress_deleteicon.png" class="img-responsive pointer">
                                                   </a>
                                               </li>
                                           </ul>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="my-address-all">
                                       <div class="delivery-address-crt"> 
                                           <ul>
                                               <li>
                                                   <div class="addirsst-crt-all">
                                                       <div class="form-radio">
                                                           <div class="radio">
                                                               <input id="radio14" name="radio" type="radio" checked>
                                                               <label for="radio-14" class="radio-label">
                                                                   <h6>JONH MATHEW <span class="margin-left-5 pga">Home</span></h6>
                                                                   <h5>987654321</h5>
                                                                   <p>Building #123456, Cape ST. Weroda 03, Bole Sub- City Addis Ababa, Egypt</p>
                                                               </label>
                                                           </div>
                                                       </div> 
                                                   </div>
                                               </li>
                                               <li> 
                                                   <a> 
                                                       <img src="assets/images/icon/address_editicon.png" class="margin-right-7 pointer img-responsive">
                                                       <img src="assets/images/icon/affress_deleteicon.png" class="img-responsive pointer">
                                                   </a>
                                               </li>
                                           </ul>
                                          </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>  
        </div>
    </section> 
 </div>
<app-footer></app-footer>    

<div class="modal fade" id="add-address">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="forgot-pass text-left">
                    <h6 class="margin-top-0 fs-13 mb-13">Add Address</h6>
                    <form>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="House Number"/>  
                    </div>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="Building/Tower"/>  
                    </div>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="Locality"/>  
                    </div>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="District"/>  
                    </div>
                    <div class="form-group"> 
                        <select name="sources" id="sources" class="custom-select sources" placeholder="Select City">
                            <option value="profile">Select Country</option>
                            <option value="word">Noida</option>
                            <option value="hashtag">Delhi</option>
                        </select> 
                    </div>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="Pincode"/>  
                    </div> 
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="Alternate Mobile Number"/>  
                    </div>
                    <div class="form-group"> 
                        <div class="row">
                            <div class="col-md-3">
                                <p class="margin-top-7 mb-0">Save as</p>
                            </div>
                            <div class="col-md-3 addirsst-crt-all">
                                <div class="form-radio">
                                    <div class="radio">
                                        <input id="radio-1" name="radio" type="radio" checked>
                                        <label for="radio-1" class="radio-label">Home</label>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3 addirsst-crt-all">
                                <div class="form-radio">
                                    <div class="radio">
                                        <input id="radio-3" name="radio" type="radio" checked>
                                        <label for="radio-3" class="radio-label">Female</label>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-3 addirsst-crt-all">
                                <div class="form-radio">
                                    <div class="radio">
                                        <input id="radio-11" name="radio" type="radio" checked>
                                        <label for="radio-11" class="radio-label">Other</label>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                      </div>
                    <button type="button" data-dismiss="modal"  class="profile-payment btn-green btn-block">Save</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>