<app-header></app-header>
<!-- Content -->
 <div id="content">
    <section class="padding-top-30 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                    <div class="my-payment-login bg-white">
                        <div class="e-pay-succ-img">
                            <img src="assets/images/icon/order_placed_icon.png">
                            <p class="black fw-600">Order Placed Successful!!</p>
                        </div>
                          <div class="e-success-delivery">
                                <h5>Delivery Address <span class="float-right black">Product will be delivered shortly</span></h5>
                                <h5>JONH MATHEW <span class="margin-left-5 pga">Home</span></h5>
                                <span class="fw-600 text-success">0870867670</span>
                                <p>fluper limited,sector 63, c-142 noida</p>
                          </div>
                    </div>
                    <div class="my-payment-login bg-white">
                        <div class="ecom-succ-item-detail">
                             <h6 class="fs-13 black">Item Details</h6>
                            <div class="row margin-bottom-15">
                                <div class="col-md-2 col-lg-2">
                                <div class="succ-item-img">
                                    <img src="assets/images/feture-item-6.png" class="img-responsive">
                                </div>
                                </div>
                                <div class="col-md-10 col-lg-10"> 
                                    <div class="d-flex">
                                        <div class="succ-desc">
                                            <p>16MP 1080P 16X Zoom 2.4 Inch TFT Screen Anti-shake Digital Camera with Built-in Microphone</p>
                                        </div>
                                        <div class="succ-rs">
                                            <h6>Rs. 32,00.90</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-15">
                                <div class="col-md-2 col-lg-2">
                                <div class="succ-item-img">
                                    <img src="assets/images/feture-item-6.png" class="img-responsive">
                                </div>
                                </div>
                                <div class="col-md-10 col-lg-10"> 
                                    <div class="d-flex">
                                        <div class="succ-desc">
                                            <p>16MP 1080P 16X Zoom 2.4 Inch TFT Screen Anti-shake Digital Camera with Built-in Microphone</p>
                                        </div>
                                        <div class="succ-rs">
                                            <h6>Rs. 32,00.90</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <div class="cart-sub-total bg-white">
                            <div class="e-track-order">
                                <div class="track-image">
                                      <img src="assets/images/icon/trackorder_icon.png">
                                </div>
                                <div class="text-center margin-top-15">
                                    <button type="button" class="btn-block profile-payment btn-green">Track Order</button>
                                </div>
                            </div>
                    </div>    
                </div>
            </div>  
            <section class="padding-top-20 padding-bottom-30 relative">
                <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="flex-head">
                            <div class="heading">
                              <h2>treanding Product</h2>
                            </div>
                            <a href="javascript:void(0);">View All</a>
                          </div>
                          <owl-carousel-o [options]="treandingProduct">
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img text-center">
                                          <img class="img-responsive" src="assets/images/feture-item-6.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price">camera </p>
                                         <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img">
                                        <img class="img-responsive" src="assets/images/feture-item-2.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price">Mobile </p>
                                         <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img">
                                        <img class="img-responsive" src="assets/images/feture-item-6.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price">camera </p>
                                         <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img">
                                        <img class="img-responsive" src="assets/images/feture-item-3.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price">camera </p>
                                         <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img">
                                        <img class="img-responsive" src="assets/images/feture-item-4.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price"> camera </p>
                                         <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img">
                                        <img class="img-responsive" src="assets/images/feture-item-5.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price">camera </p>
                                         <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                              <ng-template carouselSlide>
                                <div class="product">
                                  <a href="javascript:void(0);">
                                    <div class="top-brands"> 
                                      <div class="brand-img">
                                        <img class="img-responsive" src="assets/images/feture-item-5.png" > 
                                      </div>
                                      <div class="brand-logo">
                                          <div class="brand-logo-title">
                                              <h6>Sparx, Layasa & more</h6>
                                          </div>    
                                         <p class="offer-price">camera </p>
                                         <p> <span class="text-success">20% OFF</span></p> 
                                      </div> 
                                    </div>
                                  </a>
                                </div>
                              </ng-template>
                            </owl-carousel-o> 
                     </div>
                  </div>  
                </div>
            </section> 
        </div>
    </section> 
 </div>
<app-footer></app-footer>    

