<app-header></app-header>



<section class="slid-sec">
    <div class="col-lg-12 no-padding"> 
        <!-- Main Slider Start -->
          <div class="tp-banner-container">
            <div class="tp-banner">
              <ul>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" > 
                  <!-- MAIN IMAGE --> 
                  <img src="assets/images/slider/slider-1.png"  alt="slider"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                  
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption sfl tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="-110" 
                    data-speed="800" 
                    data-start="800" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.03" 
                    data-endelementdelay="0.4" 
                    data-endspeed="300"
                    style="z-index: 5; font-size:16px; font-weight:500; color:#fff;  max-width: auto; max-height: auto; white-space: nowrap;">Sale Offer 20% off this Week
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption sfr tp-resizeme" 
                      data-x="left" data-hoffset="0" 
                      data-y="center" data-voffset="-60" 
                      data-speed="800" 
                      data-start="1000" 
                      data-easing="Power3.easeInOut" 
                      data-splitin="chars" 
                      data-splitout="none" 
                      data-elementdelay="0.03" 
                      data-endelementdelay="0.1" 
                      data-endspeed="300" 
                      style="z-index: 6; font-size:50px; color:#fff; font-weight:800; ">New Moza Aircross 2 
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="-5" 
                    data-speed="800" 
                    data-start="1000" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.03" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    style="z-index: 6; font-size:50px; color:#fff; font-weight:800; ">is an Ultra Light</div>
                  
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption lfb tp-resizeme scroll" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="80"
                    data-speed="800" 
                    data-start="1300"
                    data-easing="Power3.easeInOut" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-scrolloffset="0"
                    style="z-index: 8;"><a href="javascript:void(0);" class="btn-round big">Shop Now</a>
                  </div>
                </li>
                
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" > 
                  <!-- MAIN IMAGE --> 
                  <img src="assets/images/slider/slider-2.png"  alt="slider"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption sfl tp-resizeme" 
                        data-x="left" data-hoffset="0" 
                        data-y="center" data-voffset="-110" 
                        data-speed="800" 
                        data-start="800" 
                        data-easing="Power3.easeInOut" 
                        data-splitin="chars" 
                        data-splitout="none" 
                        data-elementdelay="0.03" 
                        data-endelementdelay="0.4" 
                        data-endspeed="300"
                        style="z-index: 5; font-size:16px; font-weight:500; color:#fff;  max-width: auto; max-height: auto; white-space: nowrap;">Sale Offer 30% off this Week</div>
                  
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption sfr tp-resizeme" 
                      data-x="left" data-hoffset="0" 
                      data-y="center" data-voffset="-60" 
                      data-speed="800" 
                      data-start="1000" 
                      data-easing="Power3.easeInOut" 
                      data-splitin="chars"  
                      data-splitout="none" 
                      data-elementdelay="0.03" 
                      data-endelementdelay="0.1" 
                      data-endspeed="300" 
                      style="z-index: 6; font-size:50px; color:#fff; font-weight:800; white-space: nowrap;">New Moza Aircross 2
                  </div>
    
                  <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="-5" 
                    data-speed="800" 
                    data-start="1000" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.03" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    style="z-index: 6; font-size:50px; color:#fff; font-weight:800; ">is an Ultra Light
                  </div>
  
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption lfb tp-resizeme scroll" 
                    data-x="left" data-hoffset="0" 
                      data-y="center" data-voffset="80"
                      data-speed="800" 
                      data-start="1300"
                      data-easing="Power3.easeInOut" 
                      data-elementdelay="0.1" 
                      data-endelementdelay="0.1" 
                      data-endspeed="300" 
                      data-scrolloffset="0"
                      style="z-index: 8;"><a href="javascript:void(0);" class="btn-round big">Shop Now</a>
                  </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" > 
                  <!-- MAIN IMAGE --> 
                  <img src="assets/images/slider/slider-3.png"  alt="slider"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">        
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption sfl tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="-110" 
                    data-speed="800" 
                    data-start="800" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.03" 
                    data-endelementdelay="0.4" 
                    data-endspeed="300"
                    style="z-index: 5; font-size:16px; font-weight:500; color:#fff;  max-width: auto; max-height: auto; white-space: nowrap;">Sale Offer 40% off this 
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption sfr tp-resizeme" 
                        data-x="left" data-hoffset="0" 
                        data-y="center" data-voffset="-60" 
                        data-speed="800" 
                        data-start="1000" 
                        data-easing="Power3.easeInOut" 
                        data-splitin="chars" 
                        data-splitout="none" 
                        data-elementdelay="0.03" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" 
                        style="z-index: 6; font-size:50px; color:#fff; font-weight:800; white-space: nowrap;">New Moza Aircross 2
                  </div>
                <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="-5" 
                    data-speed="800" 
                    data-start="1000" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.03" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    style="z-index: 6; font-size:50px; color:#fff; font-weight:800; ">is an Ultra Light</div>
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption lfb tp-resizeme scroll" 
                      data-x="left" data-hoffset="0" 
                      data-y="center" data-voffset="80"
                      data-speed="800" 
                      data-start="1300"
                      data-easing="Power3.easeInOut" 
                      data-elementdelay="0.1" 
                      data-endelementdelay="0.1" 
                      data-endspeed="300" 
                      data-scrolloffset="0"
                      style="z-index: 8;"><a href="javascript:void(0);" class="btn-round big">Shop Now</a> 
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>
        <!-- Main Slider  -->
</section>
<!-- Content -->
<div id="content"> 
    <section class="padding-top-20 padding-bottom-30 top-brand relative">
        <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="flex-head">
                    <div class="heading">
                      <h2>Top Brands</h2> 
                    </div>
                    <a href="javascript:void(0);">View All</a>
                  </div>
                  <owl-carousel-o [options]="topBrands">
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img text-center">
                                <img class="img-responsive" src="assets/images/feture-item-6.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-2.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">Mobile </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-6.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-3.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-4.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price"> camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-5.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-5.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">20% OFF</span></p> 
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                  </owl-carousel-o> 
             </div>
          </div>  
        </div>
    </section> 
  <section class="padding-top-20 padding-bottom-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="small-banner">
            <img src="assets/images/large_img_1.png"/>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="small-banner">
            <img src="assets/images/large_img_2.png"/>  
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="small-banner">
              <img src="assets/images/topoffer1.jpg"/>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-top-20 padding-bottom-30 relative">
      <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="flex-head">
                  <div class="heading">
                    <h2>Top Offers</h2>
                  </div>
                  <a href="javascript:void(0);">View All</a>
                </div>
                <owl-carousel-o class="top-offers" [options]="topOffers">
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer1.png"/>
                            </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer2.png"/>
                              </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer3.jpg"/>
                            </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer4.jpg"/>
                             </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer5.png"/>
                            </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer6.jpg"/>
                            </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                            <div class="small-banner">
                                <img src="assets/images/offer2.png"/>
                              </div>
                        </a>
                      </div>
                    </ng-template>
                  </owl-carousel-o> 
           </div>
        </div>  
      </div>
  </section>
  <section class="padding-top-20 padding-bottom-30 relative">
      <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="flex-head">
                  <div class="heading">
                    <h2>treanding Product</h2>
                  </div>
                  <a href="javascript:void(0);">View All</a>
                </div>
                <owl-carousel-o [options]="treandingProduct">
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img text-center">
                                <img class="img-responsive" src="assets/images/feture-item-6.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-2.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">Mobile </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-6.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-3.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-4.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price"> camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-5.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="product">
                        <a href="javascript:void(0);">
                          <div class="top-brands"> 
                            <div class="brand-img">
                              <img class="img-responsive" src="assets/images/feture-item-5.png" > 
                            </div>
                            <div class="brand-logo">
                                <div class="brand-logo-title">
                                    <h6>Sparx, Layasa & more</h6>
                                </div>    
                               <p class="offer-price">camera </p>
                               <p> <span class="text-success">20% OFF</span></p> 
                            </div>
                          </div>
                        </a>
                      </div>
                    </ng-template>
                  </owl-carousel-o> 
           </div>
        </div>  
      </div>
  </section> 
</div>
 

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button class="cross" data-dismiss="modal"><img src="assets/images/icon/cross-2.png"/></button>
       <div class="split-menu">
         <h6>Shop By</h6>
         <ul>
           <li>
             <a href="javascript:void(0);">
               <div class="split-box">
                 <img src="assets/images/icon/deals.png"/>
                 <p>Deals</p>
               </div>
             </a>
           </li>
           <li>
            <a href="javascript:void(0);">
              <div class="split-box">
                <img src="assets/images/icon/brands.png"/>
                <p>Brands</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <div class="split-box">
                <img src="assets/images/icon/categories.png"/>
                <p>Categories</p>
              </div>
            </a>
          </li>
         </ul>
       </div>
       <div class="split-menu">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <div class="split-box">
                <img src="assets/images/icon/home.png"/>
                <p>Home</p>
              </div>
            </a>
          </li>
          <li>
           <a href="javascript:void(0);">
             <div class="split-box">
               <img src="assets/images/icon/search.png"/>
               <p>Search</p>
             </div>
           </a>
         </li>
         <li>
           <a href="javascript:void(0);">
             <div class="split-box">
               <img src="assets/images/icon/inbox.png"/>
               <p>Inbox</p>
             </div>
           </a>
         </li>
        </ul>
      </div>
      <div class="split-menu">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <div class="split-box">
                <img src="assets/images/icon/blog.png"/>
                <p>Blogs</p>
              </div>
            </a>
          </li>
          <li>
           <a href="javascript:void(0);">
             <div class="split-box">
               <img src="assets/images/icon/posts.png"/>
               <p>Posts</p>
             </div>
           </a>
         </li>
         <li>
           <a href="javascript:void(0);">
             <div class="split-box">
               <img src="assets/images/icon/product.png"/>
               <p>Used Products</p>
             </div>
           </a>
         </li>
        </ul>
      </div>
      <div class="w-100 text-center">
        <a href="javascript:void(0);">
          <div class="participate">
            <img src="assets/images/icon/raise_hand.png"/>
            <p>Participate In Competitions</p>
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>   