<header>
    <nav class="navbar ownmenu grocery-theme">
        <div class="container"> 
          
          <!-- Categories -->
          <!-- <div class="cate-lst"> <a  data-toggle="collapse" class="cate-style" href="#cater"><i class="fa fa-bars"></i> CATEGORIES </a>
            <div class="cate-bar-in">
              <div id="cater" class="collapse">
                <ul>
                    <li><a href="javascript:void(0);"><img src="assets/images/icon/bag.png"/> Bag</a></li>
                    <li><a href="javascript:void(0);"><img src="assets/images/icon/unboxed.png"/> Unboxed</a></li>
                    <li><a href="javascript:void(0);"><img src="assets/images/icon/flashlight.png"/> Light</a></li>
                    <li class="sub-menu"><a href="javascript:void(0);"><img src="assets/images/icon/telephoto.png"/> Camera Accessories</a>
                      <ul>
                        <li><a href="javascript:void(0);"> Light meters</a></li>
                        <li><a href="javascript:void(0);"> Filter & Accessories</a></li>
                        <li><a href="javascript:void(0);"> Tethering Cable</a>
                        <li><a href="javascript:void(0);"> Battery Grip</a>
                        <li><a href="javascript:void(0);"> Body & Lens Cap</a>
                        <li><a href="javascript:void(0);"> Battery & Charger</a>
                        <li><a href="javascript:void(0);"> Cleankit</a>
                        <li><a href="javascript:void(0);"> Memory card/Reader</a>
                        <li><a href="javascript:void(0);"> Dry Cabinet</a>
                        <li><a href="javascript:void(0);"> Gear Protection</a>
                        <li><a href="javascript:void(0);"> LCD</a>
                      </ul>
                    </li>
                    <li><a href="javascript:void(0);"><img src="assets/images/icon/tripod.png"/> Tripod & Monopod</a></li>
                    <li><a href="javascript:void(0);"><img src="assets/images/icon/video.png"/> Video Accessories</a></li>
                    <li class="sub-menu"><a href="javascript:void(0);"><img src="assets/images/icon/big_lens.png"/> Camera & Lens</a>
                      <ul>
                        <li><a href="javascript:void(0);"> TV & Video</a></li>
                        <li><a href="javascript:void(0);"> Camera, Photo & Video</a></li>
                        <li><a href="javascript:void(0);"> Cell Phones & Accessories</a>
                      </ul>
                    </li>
                  </ul>
              </div>
            </div>
          </div> -->
          
          <!-- Navbar Header -->
          <div class="navbar-header mg-btm">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
          </div>
          <!-- NAV -->
          <div class="collapse navbar-collapse" id="nav-open-btn">
            <ul class="nav">
              <!-- <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">All Categories </a>
                <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                  <li><a href="About.html"> About </a></li>
                  <li><a href="LoginForm.html"> Login Form </a></li>
                  <li><a href="GridProducts_3Columns.html"> Products 3 Columns </a></li>
                  <li><a href="GridProducts_4Columns.html"> Products 4 Columns </a></li>
                  <li><a href="ListProducts.html"> List Products </a></li>
                  <li><a href="Product-Details.html"> Product Details </a></li>
                  <li><a href="ShoppingCart.html"> Shopping Cart</a></li>
                  <li><a href="PaymentMethods.html"> Payment Methods </a></li>
                  <li><a href="DeliveryMethods.html"> Delivery Methods</a></li>
                  <li><a href="Confirmation.html"> Confirmation </a></li>
                  <li><a href="CheckoutSuccessful.html"> Checkout Successful </a></li>
                  <li><a href="Error404.html"> Error404 </a></li>
                  <li><a href="contact.html"> Contact </a></li>
                  <li class="dropdown-submenu"><a href="#."> Dropdown Level </a>
                    <ul class="dropdown-menu animated-2s fadeInRight">
                      <li><a href="#.">Level 1</a></li>
                    </ul>
                  </li>
                </ul>
              </li> -->
              <!-- Mega Menu Nav -->
              <li class="dropdown megamenu"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Fruits & <br>Vegetables</a>
                <div class="dropdown-menu animated-2s fadeInUpHalf">
                  <div class="mega-inside">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6>Fresh Vegetables <i class="black fa fa-angle-right"></i></h6>
                        <ul> 
                          <li><a routerLink="/grocery/grocery-product-list"> Potato, Onion & Tomato </a></li>
                          <li><a> Carrier Phones </a></li>
                          <li><a> Unlocked Phones </a></li>
                          <li><a> Prime Exclusive Phones </a></li>
                          <li><a> Accessories </a></li>
                          <li><a> Cases </a></li>
                          <li><a> Best Sellers </a></li>
                          <li><a> Deals </a></li>
                          <li><a> All Electronics </a></li>
                        </ul>
                      </div>
                      <div class="col-sm-2">
                        <h6>Fresh Fruits <i class="black fa fa-angle-right"></i></h6>
                        <ul>
                          <li><a> Computers & Tablets</a></li>
                          <li><a> Monitors</a></li>
                          <li><a> Laptops & tablets</a></li>
                          <li><a> Networking</a></li>
                          <li><a> Drives & Storage</a></li>
                          <li><a> Computer Parts & Components</a></li>
                          <li><a> Printers & Ink</a></li>
                          <li><a> Office & School Supplies </a></li>
                        </ul>
                      </div>
                      <div class="col-sm-2">
                        <h6>Organic Fruits & Vegetables <i class="black fa fa-angle-right"></i></h6>
                        <ul>
                          <li><a> Refrigerators</a></li>
                          <li><a> Wall Ovens</a></li>
                          <li><a> Cooktops & Hoods</a></li>
                          <li><a> Microwaves</a></li>
                          <li><a> Dishwashers</a></li>
                          <li><a> Washers</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-2">
                          <h6>Fresh Fruits <i class="black fa fa-angle-right"></i></h6>
                          <ul>
                            <li><a> Refrigerators</a></li>
                            <li><a> Wall Ovens</a></li>
                            <li><a> Cooktops & Hoods</a></li>
                            <li><a> Microwaves</a></li>
                            <li><a> Dishwashers</a></li>
                            <li><a> Washers</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-2">
                          <h6>Flower Bouquets, Bunches <i class="fa black fa-angle-right"></i></h6>
                          <ul>
                            <li><a> Refrigerators</a></li>
                            <li><a> Wall Ovens</a></li>
                            <li><a> Cooktops & Hoods</a></li>
                            <li><a> Microwaves</a></li>
                            <li><a> Dishwashers</a></li>
                            <li><a> Washers</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-2">
                          <h6>Home Appliances <i class="fa fa-angle-right black"></i></h6>
                          <ul>
                            <li><a> Refrigerators</a></li>
                            <li><a> Wall Ovens</a></li>
                            <li><a> Cooktops & Hoods</a></li>
                            <li><a> Microwaves</a></li>
                            <li><a> Dishwashers</a></li>
                            <li><a> Washers</a></li>
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Beverages </a>
                <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                    <li><a> About </a></li>
                    <li><a> Login Form </a></li>
                    <li><a> Products 3 Columns </a></li>
                    <li><a> Products 4 Columns </a></li>
                    <li><a> List Products </a></li>
                    <li><a> Product Details </a></li>
                    <li><a> Shopping Cart</a></li>
                    <li><a> Payment Methods </a></li>
                    <li><a> Delivery Methods</a></li>
                    <li><a> Confirmation </a></li>
                    <li><a> Checkout Successful </a></li>
                    <li><a> Error404 </a></li>
                    <li><a> Contact </a></li>
                    <li class="dropdown-submenu"><a> Dropdown Level </a>
                      <ul class="dropdown-menu animated-2s fadeInRight">
                        <li><a>Level 1</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Personal <br>Care </a>
                  <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                      <li><a> About </a></li>
                      <li><a> Login Form </a></li>
                      <li><a> Products 3 Columns </a></li>
                      <li><a> Products 4 Columns </a></li>
                      <li><a> List Products </a></li>
                      <li><a> Product Details </a></li>
                      <li><a> Shopping Cart</a></li>
                      <li><a> Payment Methods </a></li>
                      <li><a> Delivery Methods</a></li>
                      <li><a> Confirmation </a></li>
                      <li><a> Checkout Successful </a></li>
                      <li><a> Error404 </a></li>
                      <li><a> Contact </a></li>
                      <li class="dropdown-submenu"><a> Dropdown Level </a>
                        <ul class="dropdown-menu animated-2s fadeInRight">
                          <li><a>Level 1</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Grocery &<br> Staples </a>
                    <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                        <li><a> About </a></li>
                        <li><a> Login Form </a></li>
                        <li><a> Products 3 Columns </a></li>
                        <li><a> Products 4 Columns </a></li>
                        <li><a> List Products </a></li>
                        <li><a> Product Details </a></li>
                        <li><a> Shopping Cart</a></li>
                        <li><a> Payment Methods </a></li>
                        <li><a> Delivery Methods</a></li>
                        <li><a> Confirmation </a></li>
                        <li><a> Checkout Successful </a></li>
                        <li><a> Error404 </a></li>
                        <li><a> Contact </a></li>
                        <li class="dropdown-submenu"><a> Dropdown Level </a>
                          <ul class="dropdown-menu animated-2s fadeInRight">
                            <li><a>Level 1</a></li>
                          </ul>
                        </li>
                      </ul>
                  </li>
                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Fresh &<br> Frozen Food</a>
                  <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                      <li><a> About </a></li>
                      <li><a> Login Form </a></li> 
                      <li><a> Products 3 Columns </a></li>
                      <li><a> Products 4 Columns </a></li>
                      <li><a> List Products </a></li>
                      <li><a> Product Details </a></li>
                      <li><a> Shopping Cart</a></li>
                      <li><a> Payment Methods </a></li>
                      <li><a> Delivery Methods</a></li>
                      <li><a> Confirmation </a></li>
                      <li><a> Checkout Successful </a></li>
                      <li><a> Error404 </a></li>
                      <li><a> Contact </a></li>
                      <li class="dropdown-submenu"><a href="#."> Dropdown Level </a>
                        <ul class="dropdown-menu animated-2s fadeInRight">
                          <li><a>Level 1</a></li>
                        </ul>
                      </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home<br>Appliances</a>
                    <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                        <li><a> About </a></li>
                        <li><a> Login Form </a></li> 
                        <li><a> Products 3 Columns </a></li>
                        <li><a> Products 4 Columns </a></li>
                        <li><a> List Products </a></li>
                        <li><a> Product Details </a></li>
                        <li><a> Shopping Cart</a></li>
                        <li><a> Payment Methods </a></li>
                        <li><a> Delivery Methods</a></li>
                        <li><a> Confirmation </a></li>
                        <li><a> Checkout Successful </a></li>
                        <li><a> Error404 </a></li>
                        <li><a> Contact </a></li>
                        <li class="dropdown-submenu"><a href="#."> Dropdown Level </a>
                          <ul class="dropdown-menu animated-2s fadeInRight">
                            <li><a>Level 1</a></li>
                          </ul>
                        </li>
                      </ul>
                  </li>
            </ul>
          </div>
          
          <!-- NAV RIGHT -->
          <div class="nav-right nav-right-groc">
              <ul class="">
                  <li>
                    <a>
                        <img src="assets/images/icon/menu_food.png"/> Food
                    </a>
                  </li>
                  <li>
                      <a routerLink="/grocery/grocery-home">
                          <img src="assets/images/icon/menu_grocery.png"/> Grocery
                      </a>
                  </li>
                  <li> 
                      <a>
                          <img src="assets/images/icon/menu_pharmacy.png"/> Pharmacy
                      </a>
                    </li>
                </ul>
          </div>
        </div>
      </nav>
</header>
