<app-header></app-header>
<div id="content" class="padding-top-30 padding-bottom-30"> 
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="order-ecommerce-left-product1 bg-white">
          <div class="p-grid-list-left">
               <div class="pgl-title border-bottom">
                   <h6 class="fw-600">Popular Products</h6>
               </div>
               <div class="pgl-category">
                  <main class="cd-main-content">
                      <div class="cd-filter"> 
                          <form>
                            <div class="groc-category-name">
                                <ul>
                                    <li><a> Tea<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Chips<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Coffee<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Pluses<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a> Atta & Other Flours<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Rice & Other Grains<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Edible Oils<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Spices<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Salt & Sugar<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Fruits<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Vegetables<i class="fa fa-angle-right float-right"></i></a></li>
                                    <li><a>Ghee & Vanaspati<i class="fa fa-angle-right float-right"></i></a></li>
                                  </ul>
                            </div> 
                          </form>
                      </div> <!-- cd-filter -->
                  </main> <!-- cd-main-content -->
               </div>
          </div>
      </div>
      </div>
      <div class="col-md-9">
        <section class="bg-white padding-top-20 padding-bottom-30 top-brand relative">
            <div class="col-md-12">
                <div class="flex-head">
                  <div class="groc-heading">
                       <h6>Potato, Onion & Tomato</h6> 
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center">
                                <div class="box-qty groc-qty basket-groc-qty">
                                    <button class="quantity-minus">-</button>
                                    <input type="text" name="p_quantity" id="qnt" class="quantity" value="1">
                                    <button class="quantity-plus">+</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a  data-target="#view-address" data-toggle="modal" class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>  
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li> 
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a> 
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="groc-product margin-bottom-20"> 
                    <a href="javascript:void(0);">
                      <div class="groc-brands"> 
                        <div class="brand-img text-center">
                            <img class="img-responsive" src="assets/images/fos1.jpg"> 
                            <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive groc-geart"> 
                        </div>
                        <div class="grac-logo">
                            <div class="groc-logo-title">
                                <h6>Fortune Soya Health Refined Soyabean Oil...</h6>
                            </div>  
                            <div class="groc-off">
                                <ul>
                                    <li>
                                      <p> <span class="text-success">$12&nbsp;</span><del> Rs.2,000</del></p>
                                    </li>
                                    <li>
                                        <h6>30%</h6>
                                    </li>
                                </ul>
                            </div>  
                            <div class="groc-button text-center margin-bottom-10">
                                <a class="">Add Item</a>
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
        </section> 
        
        <section class=""> 
            
        </section>
      </div>
    </div>
  </div>
</div>
 
<app-footer></app-footer>   

<div class="modal fade" id="view-address">
    <div class="modal-dialog modal-lg1">
      <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header modal-header1">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="gros-add-all">
                        <div class="gros-address-title">
                            <h6 class="margin-bottom-20">Add Address</h6>
                       </div>
                       <div class="gros-add-overview">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="d-flex">
                                         <div class="gross-pro-img">
                                            <img class="img-responsive" width="50px" height="50px" src="assets/images/fos1.jpg"> 
                                         </div>
                                         <div class="gross-pro-det">
                                             <h6 class="black">Baby Potato</h6>
                                                <p> 
                                                    Rs.2,00
                                                    <del class="margin-left-5 g-gray"> Rs.2,00</del>
                                                    <span class="margin-left-15 text-success fw-600">30 % &nbsp;</span>
                                                </p>
                                         </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="groc-add-qt">
                                        <div class="box-qty groc-qty basket-groc-qty">
                                            <button class="quantity-minus">-</button>
                                            <input type="text" name="p_quantity" id="qnt" class="quantity" value="1">
                                            <button class="quantity-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                       <div class="gros-add-overview">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="d-flex">
                                     <div class="gross-pro-img">
                                        <img class="img-responsive" width="50px" height="50px" src="assets/images/fos1.jpg"> 
                                     </div>
                                     <div class="gross-pro-det">
                                         <h6 class="black">Baby Potato</h6>
                                            <p> 
                                                Rs.2,00
                                                <del class="margin-left-5 g-gray"> Rs.2,00</del>
                                                <span class="margin-left-15 text-success fw-600">30 % &nbsp;</span>
                                            </p>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="groc-add-qt">
                                    <div class="box-qty groc-qty basket-groc-qty">
                                        <button class="quantity-minus">-</button>
                                        <input type="text" name="p_quantity" id="qnt" class="quantity" value="1">
                                        <button class="quantity-plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                   <div class="gros-add-overview">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-flex">
                                 <div class="gross-pro-img">
                                    <img class="img-responsive" width="50px" height="50px" src="assets/images/fos1.jpg"> 
                                 </div>
                                 <div class="gross-pro-det">
                                     <h6 class="black">Baby Potato</h6>
                                        <p> 
                                            Rs.2,00
                                            <del class="margin-left-5 g-gray"> Rs.2,00</del>
                                            <span class="margin-left-15 text-success fw-600">30 % &nbsp;</span>
                                        </p>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="groc-add-qt">
                                <div class="box-qty groc-qty basket-groc-qty">
                                    <button class="quantity-minus">-</button>
                                    <input type="text" name="p_quantity" id="qnt" class="quantity" value="1">
                                    <button class="quantity-plus">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="gros-add-overview">
                <div class="row">
                    <div class="col-md-8">
                        <div class="d-flex">
                             <div class="gross-pro-img">
                                <img class="img-responsive" width="50px" height="50px" src="assets/images/fos1.jpg"> 
                             </div>
                             <div class="gross-pro-det">
                                 <h6 class="black">Baby Potato</h6>
                                    <p> 
                                        Rs.2,00
                                        <del class="margin-left-5 g-gray"> Rs.2,00</del>
                                        <span class="margin-left-15 text-success fw-600">30 % &nbsp;</span>
                                    </p>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="groc-add-qt">
                            <div class="box-qty groc-qty basket-groc-qty">
                                <button class="quantity-minus">-</button>
                                <input type="text" name="p_quantity" id="qnt" class="quantity" value="1">
                                <button class="quantity-plus">+</button>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="gros-add-overview">
            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex">
                         <div class="gross-pro-img">
                            <img class="img-responsive" width="50px" height="50px" src="assets/images/fos1.jpg"> 
                         </div>
                         <div class="gross-pro-det">
                             <h6 class="black">Baby Potato</h6>
                                <p> 
                                    Rs.2,00
                                    <del class="margin-left-5 g-gray"> Rs.2,00</del>
                                    <span class="margin-left-15 text-success fw-600">30 % &nbsp;</span>
                                </p>
                         </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="groc-add-qt">
                        <div class="box-qty groc-qty basket-groc-qty">
                            <button class="quantity-minus">-</button>
                            <input type="text" name="p_quantity" id="qnt" class="quantity" value="1">
                            <button class="quantity-plus">+</button>
                        </div>
                    </div>
                </div>
            </div>
       </div>
                    </div>
                </div>
                <div class="col-md-4">
                       <div class="groc-price-details">
                            <div class="gros-address-title">
                                <h6 class="margin-bottom-20">Price Details</h6>
                            </div>
                            <div class="groc-price-detail-all">
                                <ul>
                                    <li>Price ( 6 Items )</li>
                                    <li>Rs 612</li>
                                    <li>Delivery Charges</li>
                                    <li>0</li>
                                    <li>Discount</li>
                                    <li>Rs 50</li>
                                </ul>
                            </div>
                            <div class="groc-price-detail-totl">
                                <ul>
                                    <li>Total Payable</li>
                                    <li>Rs 612</li>
                                </ul>
                            </div>
                            <small class="g-gray">You will save Rs 150 on this order</small>
                            <div class="margin-top-15 groc-sub-btn">
                                <button class="btn">Place Order</button>
                            </div>
                       </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>