.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 22px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #33cc00;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #33cc00;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  .wrapper {
    background: white;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .modal-body {
    position: relative;
    padding: 1px 20px 20px;
}
  ul.tabs {
    list-style-type: none;
    margin: 0;
    width: 100%;
    max-width: 350px;
    padding: 0;
    /* width: 385px; */
    display: inline-block;
    margin-bottom: 11px;
  }
  ul.tabs li {
    border-bottom: none;
    float: left;
    margin: 0;
    padding: 0;
  }
  ul.tabs li:first-child {
    margin-left: 11px;
  }
  ul.tabs li:last-child{
    border-bottom: none;
    float: right !important;
  }
  ul.tabs li a {
    color: #808080;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  ul.tabs li.active a {
    color: #000;
  }

  .clr {
    clear: both;
  }
  article {
    padding: 0 1em;
    max-width: 365px;
    margin: auto;
  }
  .fs-13{
    font-size: 13px;
  }
  .mb-13{
    margin-bottom: 13px;
  }
  #tab1 input[type="submit"] {
    margin: 13px 0;
} 
.nav-right-groc ul{
  padding-top: 14px
}