<app-header></app-header>

<!-- Content -->
 <div id="content">
    <section class="padding-top-20 padding-bottom-30">
        <div class="container">
            <div class="row padding-bottom-20">
                <div class="col-md-6">
                    <h5 class="fw-600 mt-0 mb-0">Product List</h5> 
                </div> 
                <div class="col-md-6"> 
                    <div class="product-list-grid"> 
                            <a routerLink="/product/product-list" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                true}" class="margin-right-10"><i class="fa fa-list margin-right-5" aria-hidden="true"></i> List</a> 
                            <a routerLink="/product/product-grid" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                            true}"><i class="fa fa fa-th margin-right-5" aria-hidden="true"></i> Grid</a> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <app-productlistgrid-left></app-productlistgrid-left>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                    <div class="bg-white">
                        <div class="product-sort border-bottom">
                            <ul>
                                <li><a class="fw-600">Sort by</a></li>
                                <li><a>Relevance</a></li>
                                <li><a>Popularity</a></li>
                                <li><a>Popularity</a></li>
                                <li><a>Price--Low to High</a></li>
                                <li><a>Price--High to Low</a></li>
                                <li><a>Newest First</a></li>
                            </ul>
                        </div>
                        <div class="product-item"> 
                            <div class="product-grid">
                                <div class="row">
                                    <div class="col-md-4 no-padding">
                                    <div class="product-grid">
                                        <div class="product-grid-img">  
                                            <img src="assets/images/feture-item-2.png" class="img-responsive">
                                            <div class="list-icon">
                                                <img src="assets/images/icon/heart_fillicon.png" width="10px" class="img-responsive">
                                            </div> 
                                            <div> 
                                                <small class="list-off">21 % OFF</small>
                                            </div>
                                        </div>
                                        <div class="product-grid-detail">
                                            <div class="product-grid-title">
                                                <h6>
                                                    Zhiyun-Tech WEEBILL-S Handheld Gimbal Stabilizer
                                                </h6>
                                            </div>
                                            <div class="product-grid-star">
                                                <ul>
                                                    <li>
                                                        <p>
                                                            The Zhiyun-Tech WEEBILL
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <div class="product-star">
                                                            <i class="fa fa-star"></i> 4.5
                                                        </div>
                                                    </li>
                                                </ul> 
                                            </div>
                                            <div class="product-grid-star product-grid-rs">
                                                <ul>
                                                    <li>
                                                        <span class="margin-right-10 light-color">30000</span><span class="dark-color margin-right-5">12000</span>
                                                    </li>
                                                    <li>
                                                        <small class="yellow fw-600">In stock</small>
                                                    </li>
                                                </ul> 
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-4 no-padding">
                                        <div class="product-grid">
                                            <div class="product-grid-img">  
                                                <img src="assets/images/feture-item-2.png" class="img-responsive">
                                                <div class="list-icon">
                                                    <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive">
                                                </div> 
                                                <div> 
                                                    <small class="list-off">21 % OFF</small>
                                                </div>
                                            </div>
                                            <div class="product-grid-detail">
                                                <div class="product-grid-title">
                                                    <h6>
                                                        Zhiyun-Tech WEEBILL-S Handheld Gimbal Stabilizer
                                                    </h6>
                                                </div>
                                                <div class="product-grid-star">
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                The Zhiyun-Tech WEEBILL
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <div class="product-star">
                                                                <i class="fa fa-star"></i> 4.5
                                                            </div>
                                                        </li>
                                                    </ul> 
                                                </div>
                                                <div class="product-grid-star product-grid-rs">
                                                    <ul>
                                                        <li>
                                                            <span class="margin-right-10 light-color">30000</span><span class="dark-color margin-right-5">12000</span>
                                                        </li>
                                                        <li>
                                                            <small class="text-danger fw-600">Comming Soon</small>
                                                        </li>
                                                    </ul> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-padding">
                                        <div class="product-grid">
                                            <div class="product-grid-img">  
                                                <img src="assets/images/feture-item-2.png" class="img-responsive">
                                                <div class="list-icon">
                                                    <img src="assets/images/icon/heart_fillicon.png" width="10px" class="img-responsive">
                                                </div> 
                                                <div> 
                                                    <small class="list-off">21 % OFF</small>
                                                </div>
                                            </div>
                                            <div class="product-grid-detail">
                                                <div class="product-grid-title">
                                                    <h6>
                                                        Zhiyun-Tech WEEBILL-S Handheld Gimbal Stabilizer
                                                    </h6>
                                                </div>
                                                <div class="product-grid-star">
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                The Zhiyun-Tech WEEBILL
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <div class="product-star">
                                                                <i class="fa fa-star"></i> 4.5
                                                            </div>
                                                        </li>
                                                    </ul> 
                                                </div>
                                                <div class="product-grid-star product-grid-rs">
                                                    <ul>
                                                        <li>
                                                            <span class="margin-right-10 light-color">30000</span><span class="dark-color margin-right-5">12000</span>
                                                        </li>
                                                        <li>
                                                            <small class="yellow fw-600">In stock</small>
                                                        </li>
                                                    </ul> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-padding">
                                        <div class="product-grid">
                                            <div class="product-grid-img">  
                                                <img src="assets/images/feture-item-2.png" class="img-responsive">
                                                <div class="list-icon">
                                                    <img src="assets/images/icon/heart_fillicon.png" width="10px" class="img-responsive">
                                                </div> 
                                                <div> 
                                                    <small class="list-off">21 % OFF</small>
                                                </div>
                                            </div>
                                            <div class="product-grid-detail">
                                                <div class="product-grid-title">
                                                    <h6>
                                                        Zhiyun-Tech WEEBILL-S Handheld Gimbal Stabilizer
                                                    </h6>
                                                </div>
                                                <div class="product-grid-star">
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                The Zhiyun-Tech WEEBILL
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <div class="product-star">
                                                                <i class="fa fa-star"></i> 4.5
                                                            </div>
                                                        </li>
                                                    </ul> 
                                                </div>
                                                <div class="product-grid-star product-grid-rs">
                                                    <ul>
                                                        <li>
                                                            <span class="margin-right-10 light-color">30000</span><span class="dark-color margin-right-5">12000</span>
                                                        </li>
                                                        <li>
                                                            <small class="yellow fw-600">In stock</small>
                                                        </li>
                                                    </ul> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-padding">
                                            <div class="product-grid">
                                                <div class="product-grid-img">  
                                                    <img src="assets/images/feture-item-2.png" class="img-responsive">
                                                    <div class="list-icon">
                                                        <img src="assets/images/icon/heart_unfillicon.png" width="10px" class="img-responsive">
                                                    </div> 
                                                    <div> 
                                                        <small class="list-off">21 % OFF</small>
                                                    </div>
                                                </div>
                                                <div class="product-grid-detail">
                                                    <div class="product-grid-title">
                                                        <h6>
                                                            Zhiyun-Tech WEEBILL-S Handheld Gimbal Stabilizer
                                                        </h6>
                                                    </div>
                                                    <div class="product-grid-star">
                                                        <ul>
                                                            <li>
                                                                <p>
                                                                    The Zhiyun-Tech WEEBILL
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <div class="product-star">
                                                                    <i class="fa fa-star"></i> 4.5
                                                                </div>
                                                            </li>
                                                        </ul> 
                                                    </div>
                                                    <div class="product-grid-star product-grid-rs">
                                                        <ul>
                                                            <li>
                                                                <span class="margin-right-10 light-color">30000</span><span class="dark-color margin-right-5">12000</span>
                                                            </li>
                                                            <li>
                                                                <small class="text-danger fw-600">Comming Soon</small>
                                                            </li>
                                                        </ul> 
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4 no-padding">
                                        <div class="product-grid">
                                            <div class="product-grid-img">  
                                                <img src="assets/images/feture-item-2.png" class="img-responsive">
                                                <div class="list-icon">
                                                    <img src="assets/images/icon/heart_fillicon.png" width="10px" class="img-responsive">
                                                </div> 
                                                <div> 
                                                    <small class="list-off">21 % OFF</small>
                                                </div>
                                            </div>
                                            <div class="product-grid-detail">
                                                <div class="product-grid-title">
                                                    <h6>
                                                        Zhiyun-Tech WEEBILL-S Handheld Gimbal Stabilizer
                                                    </h6>
                                                </div>
                                                <div class="product-grid-star">
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                The Zhiyun-Tech WEEBILL
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <div class="product-star">
                                                                <i class="fa fa-star"></i> 4.5
                                                            </div>
                                                        </li>
                                                    </ul> 
                                                </div>
                                                <div class="product-grid-star product-grid-rs">
                                                    <ul>
                                                        <li>
                                                            <span class="margin-right-10 light-color">30000</span><span class="dark-color margin-right-5">12000</span>
                                                        </li>
                                                        <li>
                                                            <small class="yellow fw-600">In stock</small>
                                                        </li>
                                                    </ul> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section> 
 </div>
<app-footer></app-footer>    